body {
  min-height: 100vh;
}
body p, body h1, body h2, body h3, body h4, body h5, body h6, body a, body b, body span, body button {
  font-family: "Sofia Pro", sans-serif;
}
body .websitewrapper {
  margin-top: 100px;
}

.uk-navbar-container {
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px;
  background-color: white !important;
  transition: 0.3s;
}
.uk-navbar-container .uk-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.uk-navbar-container .uk-container a {
  text-transform: uppercase;
}
.uk-navbar-container .uk-container .logo-side a {
  display: flex;
}
.uk-navbar-container .uk-container .logo-side a p {
  text-transform: uppercase;
  letter-spacing: 2px;
}
.uk-navbar-container .uk-container .logo-side a img {
  transition: 0.3s;
  max-width: 110px;
}
@media (max-width: 800px) {
  .uk-navbar-container .uk-container .linking-side {
    display: none;
  }
}
.uk-navbar-container .uk-container .linking-side ul {
  display: flex;
}
.uk-navbar-container .uk-container .linking-side ul li a {
  padding: 10px 20px;
}
.uk-navbar-container .uk-container .data-side {
  display: flex;
}
.uk-navbar-container .uk-container .data-side a {
  padding: 10px 15px;
  position: relative;
}
.uk-navbar-container .uk-container .data-side a span {
  position: absolute;
  top: 0;
  right: 0;
}
.uk-navbar-container .uk-container .data-side a img {
  max-width: 20px;
}

.shopping-cart .cart {
  display: grid;
  grid-template-columns: 70% 1fr;
  gap: 20px;
}
.shopping-cart .cart .items-grid .single-cart-item:not(:first-child) {
  border-top: solid 1px #D8D8D8;
}
.shopping-cart .cart .cart-items .items-headline, .shopping-cart .cart .cart-items .single-cart-item {
  display: grid;
  grid-template-columns: 1fr 18% 13%;
  gap: 20px;
}
.shopping-cart .cart .cart-items .items-headline {
  padding-bottom: 20px;
}
.shopping-cart .cart .cart-items .items-headline p {
  font-weight: 500;
  font-size: 18px;
}
.shopping-cart .cart .cart-items .single-cart-item {
  height: 100%;
  padding: 20px 0;
}
.shopping-cart .cart .cart-items .single-cart-item .item-name {
  border-right: solid 1px #D8D8D8;
}
.shopping-cart .cart .cart-items .single-cart-item .item-name a {
  display: flex;
  gap: 20px;
  font-size: 20px;
  font-weight: 500;
}
.shopping-cart .cart .cart-items .single-cart-item .item-name img {
  height: 80px;
  width: 80px;
  max-width: 130px;
  max-height: 130px;
  object-fit: cover;
  border-radius: 8px;
}
.shopping-cart .cart .cart-payment {
  background-color: #071332;
  padding: 30px 30px 0;
  height: fit-content;
  border-radius: 15px;
}
.shopping-cart .cart .cart-payment h3, .shopping-cart .cart .cart-payment p, .shopping-cart .cart .cart-payment a {
  font-family: "Sofia Pro", sans-serif;
}
.shopping-cart .cart .cart-payment .continue-payment {
  background-color: #e9c67d;
  padding: 15px 5px;
  border-radius: 7px;
  color: #071332;
  text-align: center;
  font-weight: 500;
  transform: translateY(20px);
}
.shopping-cart .cart .cart-payment h3 {
  font-family: "Sofia Pro", sans-serif;
  font-weight: 500;
  font-size: 27px;
  color: white;
  border-bottom: 1px solid rgba(198, 168, 104, 0.3);
  padding-bottom: 5px;
  margin-bottom: 15px;
}
.shopping-cart .cart .cart-payment .single-info {
  display: flex;
  justify-content: space-between;
  color: white;
  padding: 5px 0;
}
.shopping-cart .cart .cart-payment .single-info .left-info {
  opacity: 0.8;
  font-weight: 300;
}

.single-item .images-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  gap: 3vw;
}
.single-item .images-grid img {
  height: 100%;
  object-fit: cover;
}

.login-page {
  display: grid;
  grid-template-columns: 60% 1fr;
}
.login-page .login-side .login-form {
  width: 50%;
  margin: auto;
}
.login-page .login-side .login-form form input {
  width: 100%;
}
.login-page .login-side .login-form form .form-check {
  display: flex;
  margin-top: 15px;
}
.login-page .login-side .login-form form .form-check #remember {
  max-width: 11px;
}
.login-page .login-side .login-form form .form-check label {
  color: rgba(51, 51, 51, 0.7);
  margin-left: 10px;
}
.login-page .login-side .login-form form .login-button {
  margin-top: 25px;
  margin-bottom: 20px;
}
.login-page .login-side .login-form form .login-button button {
  background-color: #e9c67d;
  border-radius: 10px 10px 15px 2px;
  color: white;
  padding: 5px 20px;
  width: 100%;
  font-weight: 400;
  font-size: 20px;
}
.login-page .login-side .login-form form .forgot-link {
  opacity: 0.7;
}

.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 1px solid rgba(155, 155, 155, 0.55);
  outline: 0;
  font-size: 1.3rem;
  color: #333333;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}
.form__field::placeholder {
  color: transparent;
}
.form__field:placeholder-shown ~ .form__label {
  font-size: 1.3rem;
  cursor: text;
  top: 20px;
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #9b9b9b;
}

.form__field:focus {
  padding-bottom: 6px;
  border-width: 1px;
  border-image: linear-gradient(to right, #071332, #3b3f41);
  border-image-slice: 1;
}
.form__field:focus ~ .form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #333333;
  opacity: 0.7;
}

/* reset input */
.form__field:required, .form__field:invalid {
  box-shadow: none;
}

.mobile-swiper .swiper {
  height: 550px;
}
.mobile-swiper .swiper .mobile-swiper-slide {
  height: fit-content;
  background-color: #FFF;
  border-radius: 10px;
  position: relative;
}
.mobile-swiper .swiper .mobile-swiper-slide .product-image {
  object-fit: cover;
  height: 320px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.mobile-swiper .swiper .mobile-swiper-slide .product-info {
  position: relative;
  padding: 10px 20px;
  margin-top: -15px;
  transition: 0.5s;
}
.mobile-swiper .swiper .mobile-swiper-slide .product-info .product-price {
  color: #e9c67d;
  margin-top: 10px;
}
.mobile-swiper .swiper .mobile-swiper-slide .product-info .product-tags {
  opacity: 0;
  font-size: 16px;
}
.mobile-swiper .swiper .mobile-swiper-slide .product-info .product-check {
  position: absolute;
  height: 35px;
  width: 35px;
  right: 15px;
  bottom: 15px;
  opacity: 0;
  transition-delay: 0.5s;
  transition: 0.5s;
}
.mobile-swiper .swiper .mobile-swiper-slide .product-info .product-check svg {
  fill: #e9c67d;
}
.mobile-swiper .swiper .mobile-swiper-slide .product-info p {
  font-size: 20px;
  color: #2f2f2f;
  transition: 0.5s;
  transform: translateY(-20px);
  transition-delay: 0.2s;
  opacity: 0;
}
.mobile-swiper .swiper .mobile-swiper-slide .product-info h4 {
  font-family: "Avenir", sans-serif;
  color: #222222;
  font-size: 24px;
  font-weight: 700;
  opacity: 0;
  transition: 0.5s;
  transform: translateY(-20px);
}
.mobile-swiper .swiper .swiper-slide-active h4, .mobile-swiper .swiper .swiper-slide-active p, .mobile-swiper .swiper .swiper-slide-active .product-check {
  transform: none !important;
  opacity: 1 !important;
}
.mobile-swiper .swiper .swiper-slide-active .product-info {
  margin: 0 !important;
}
.mobile-swiper .swiper .swiper-slide-active .product-tags {
  opacity: 0.7 !important;
}

.desktop-swiper {
  margin-bottom: 100px;
  display: grid;
  grid-template-columns: 1fr 55%;
  min-height: 500px;
  position: relative;
  background-color: hsl(228deg, 53%, 23%);
  background-image: radial-gradient(at 40% 20%, hsl(228deg, 55%, 21%) 0px, transparent 50%), radial-gradient(at 80% 0%, hsl(228deg, 58%, 12%) 0px, transparent 50%), radial-gradient(at 0% 50%, hsl(228deg, 61%, 19%) 0px, transparent 50%), radial-gradient(at 80% 50%, hsl(228deg, 58%, 12%) 0px, transparent 50%), radial-gradient(at 0% 100%, hsl(228deg, 58%, 12%) 0px, transparent 50%), radial-gradient(at 80% 100%, hsl(228deg, 63%, 19%) 0px, transparent 50%), radial-gradient(at 0% 0%, hsl(228deg, 63%, 23%) 0px, transparent 50%);
}
.desktop-swiper .featured-image img {
  min-height: 550px;
  object-fit: cover;
  max-height: 550px;
  min-width: 100%;
}
.desktop-swiper .featured-bio {
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 700px;
}
.desktop-swiper .featured-bio .product-bio {
  margin-bottom: 30px;
}
.desktop-swiper .featured-bio .images-buttons {
  z-index: 99;
  display: flex;
  position: relative;
  margin-bottom: 20px;
}
.desktop-swiper .featured-bio .images-buttons .progress-bkg {
  height: 2px;
  background-color: #fff;
  opacity: 0.2;
  position: absolute;
  width: 90px;
  left: 45px;
  bottom: 15px;
  border-radius: 2px;
}
.desktop-swiper .featured-bio .images-buttons .progress-line {
  transition: 0.2s;
  opacity: 1;
  border-radius: 2px;
  height: 2px;
  background-color: #fff;
  position: absolute;
  width: 35px;
  left: 45px;
  bottom: 15px;
}
.desktop-swiper .featured-bio .images-buttons button {
  color: white;
}
.desktop-swiper .featured-bio .images-buttons button svg {
  width: 32px;
}
.desktop-swiper .featured-bio .images-buttons #image-prev {
  transform: scaleX(-1);
}
.desktop-swiper .featured-bio .images-thumb {
  overflow: hidden;
  height: 130px;
  max-width: 550px;
  transition: 0.5s;
  display: flex;
  gap: 20px;
}
.desktop-swiper .featured-bio .images-thumb .single-image {
  transition: 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
}
.desktop-swiper .featured-bio .images-thumb .single-image img {
  max-width: 170px;
}
.desktop-swiper .featured-bio .images-thumb-line {
  max-width: 550px;
  transition: 0.5s;
  display: flex;
  gap: 20px;
  justify-content: space-around;
}
.desktop-swiper .featured-bio .images-thumb-line > div {
  width: 170px;
}
.desktop-swiper .featured-bio .images-thumb-line > div span {
  display: block;
  margin-top: 10px;
  position: relative;
  background-color: white;
  width: 15px;
  height: 2px;
  transition: 0.4s ease;
}
.desktop-swiper .featured-bio h3 {
  font-size: 45px;
  font-weight: 700;
  color: white;
  font-family: "Avenir", sans-serif;
  line-height: 45px;
  margin-bottom: 15px;
}
.desktop-swiper .featured-bio p {
  color: rgba(255, 255, 255, 0.75);
}

/*# sourceMappingURL=webshop.css.map */
